/* This css is used for Home*/
.home{
  background-color: #BBF2FC ;
  font-family: Courier New;
  height: 500px;
  width: 500px;
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
  padding-top: 100px;
  justify-content: center;
}

.danger-button{
  background-color: #FC6B78 ;
  color: white;
  margin-top: 10px;
   margin-right: 10px;
   margin-bottom: 10px;
   border-radius: 10px;
   font-size: smaller;
   border: none;
   height: 40px;
   width: 250px;
}

.field{
   height: 40px;
   width: 250px;
   margin-top: 10px;
   margin-right: 10px;
   margin-bottom: 10px;
   border-radius: 10px;
   font-size: small;
   padding-left: 10px;
   border: none;
}
/* This css is used for user card*/
.userCard{
  background-color: #E6F3F2  ;
  font-family: Courier New;
  height: 500px;
  width: 500px;
  text-align: left;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
  justify-content: left;
}

.skills{
  display: flex;
  flex-wrap: wrap;
}

.skillValue{
  color: white;
  background-color: #4BE5D9 ;
  border-radius: 5px;
  margin-right: 10px;
  padding: 3px 5px 3px 5px;
}

.profileImg{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.population{
  background-color: #BBF2FC ;
  font-family: Courier New;
  height: 100%;
  width: 500px;
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
  padding-top: 100px;
  justify-content: center;
}

.worldBar{
  display: flex;
  margin-left: 200px;
  padding-right: 100px;
  justify-content: space-between;
}
